*{
    max-width: 1200 px;
    margin: 0 auto;
 } 

/* .nav-sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

} */
.nav-box{
    height: 70px;
    width: 100%;
}
 .nav-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-about{
    color: #00B39B;
    cursor: pointer;
}
.nav-color:hover{
    color: #00B39B;
    cursor: pointer;
}
 .logo{
     height: 33px ;
     width: 268px ;
    max-width: 100%;
 }
 .menu-info{
    list-style: none;
    display: flex;
    gap: 10px;
    

 }
 .drop-down-1{
    list-style: none;
    position: absolute;
    left: -40px;
    padding-top: 10px;
    background-color: white;
    box-shadow: -4px -4px 8px -1px rgba(0,0,0,0.71);
-webkit-box-shadow: -4px -4px 8px -1px rgba(0,0,0,0.71);
-moz-box-shadow: -4px -4px 8px -1px rgba(0,0,0,0.71);
display: none;
width: 200px;
}
.posi{
    position: relative;
}
.posi:hover .drop-down-1{
    display: flex;
    flex-direction: column;
    color: #ABABAB;
}
.drop-menu{
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none ;
    text-align: left;
    height: 42px;
    width: 220px;
    transform: translate(-25px);
    


}
.drop-menu:hover{
    background-color: #ABABAB;
    cursor: pointer;
    color: #00B39B;
}
.logo-body{
    
    height: 39px;
    width: 40px;

    max-width: 100%;
    display: flex;
    justify-content: center ;
}

.titre1{
     color: #00B39B;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 34px;
      font-family: "Work Sans", Arial, sans-serif;

}
.paragraph-container{
    display: flex;
    justify-content: center;
    
}
.paragra{
    height: 112px;
    width: 477.5px;
    margin: 13px 0 13px 0;
    color:  #747474;
    font-size: 16px;
    line-height: 28px;
    text-decoration : none solid rgb(116, 116, 116);
}
.container2{
    display: flex;
    justify-content: center;
    max-width:1050px;
    margin: 0 auto;
    color: white;
    

}
.img-con-size{
    height: 24px;
    width: 24px;
}
.contai-size{
    height: 320px;
    width: 270px;
    padding: 20px;
    border-radius: 10px;
       
}
#container1-color{
    background-color: #00B39B;
}
#container2-color{
    background-color:#3D83DF ;
}
#container3-color{
    background-color:#1B2734 ;
}

.h1-container-style{
    font-family: "Work Sans", Arial, sans-serif;
    font-size : 26px;
    letter-spacing: -0.3px;
    line-height: 33.8px;
    height: 33.8px;
    width: 247.625px;
    margin: 8px 0 8px 0;

}
.h2-container-style{
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.3px;
    line-height: 28.8px;
    height: 86.4px;
    width: 247.625px;
}
.country-style{
    text-decoration: underline;
    font-size: 19.2px;
    line-height: 24.96px;
    height: 40px;
    width: 172.8px;
    cursor: pointer;
    color: white;
}
.country-sytle1{
    background-color: transparent;
    border: #00B39B;
    height: 40px;
    width: 172.8px;
}
.country-sytle2{
    background-color:transparent;
    border:#3D83DF;
    height: 40px;
    width: 172.8px;

}
.country-sytle3{
    background-color:transparent;
    border:#1B2734;
    height: 40px;
    width: 193.8px;
}
.country-sytle4{
    
    background-color:transparent;
    border:#1B2734;
    height: 40px;
    width: 247.625px;
}
option{
    color: black;
}
.container3{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.paragra2{
    height: 101.4px;
    width: 321.75px;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.3px;
    line-height: 33.8px;
    color:  #00B39B;
    margin-left: 250px;
    
}
.brands-logo{
    display: grid;
    grid-template-columns: 163.312px 163.312px 163.312px 163.312px ;
    grid-template-rows: 44.8px 44.8px 52.8px
}
.green-theme{
    width: 100%;
    height: 600px;
    background-color: #E5FAF8;
}